<!-- start favicons snippet, use https://realfavicongenerator.net/ -->
{%- include snippets/prepend-baseurl.html path='/assets/apple-touch-icon.png' -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/favicon-96x96.png' -%}
<link rel="icon" type="image/png" sizes="96x96" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/favicon.svg' -%}
<link rel="icon" type="image/svg+xml" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/site.webmanifest' -%}
<link rel="manifest" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/favicon.ico' -%}
<link rel="shortcut icon" href="{{ __return }}">

<meta name="theme-color" content="#ffffff">
<!-- end favicons snippet -->