{%- assign _articles = include.articles -%}
{%- assign _only_first = include.only_first | default: false -%}

{%- assign _type = include.type | default: 'list' -%}
{%- assign _size = include.size | default: 'md' -%}

{%- assign _show_cover = include.show_cover | default: true -%}
{%- assign _show_excerpt = include.show_excerpt | default: false -%}
{%- assign _show_readmore = include.show_readmore | default: true -%}
{%- assign _show_info = include.show_info | default: true -%}

<div class="grid {{ include.class }}">

{%- for _article in _articles -%}
  {%- assign _article_url = _article.url | relative_url -%}
  {%- assign _article_cover = _article.cover | relative_url -%}

  {%- if _type == 'grid' -%}

    {%- if _size == 'sm' -%}
      <div class="cell cell--12 cell--md-4 cell--lg-3">
        <div class="card card--flat">
          {%- if _article.cover -%}
            <div class="card__image">
              <a href="{{ _article_url }}">
                <img class="image" src="{{ _article_cover }}" />
              </a>
              <div class="overlay overlay--bottom">
                <header>
                  <a href="{{ _article_url }}">
                    <h2 class="card__header">{{ _article.title }}</h2>
                  </a>
                </header>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- else -%}

      <div class="cell cell--12 cell--md-6 cell--lg-4">
        <div class="card card--flat">
          {%- if _article.cover -%}
            <a class="card__image" href="{{ _article_url }}">
              <img src="{{ _article_cover }}" />
            </a>
          {%- endif -%}
          <div class="card__content">
            <header>
              <a href="{{ _article_url }}">
                <h2 class="card__header">{{ _article.title }}</h2>
              </a>
            </header>

            {%- if _show_excerpt and _article.excerpt -%}
              <p>{{ _article.excerpt | strip_html | truncate: 140 }}</p>
            {%- endif -%}

            {%- if _show_info -%}
              <footer class="card__footer">
                {%- include snippets/article-info.html article=_article -%}
              </footer>
            {%- endif -%}
          </div>
        </div>
      </div>

    {%- endif -%}

  {%- else -%}

    <div class="cell cell--12">
      <div class="article-list">
        {%- if _show_cover and _article.cover -%}
          <a class="article-list__cover" href="{{ _article_url }}">
            <img src="{{ _article_cover }}" />
          </a>
        {%- endif -%}

        <div class="article-list__content">
          <header>
            <a href="{{ _article_url }}">
              <h2 class="article-list__title">{{ _article.title }}</h2>
            </a>
          </header>

          {%- if _show_excerpt and _article.excerpt -%}
            <p>{{ _article.excerpt | strip_html | truncate: 160 }}</p>
          {%- endif -%}

          {%- if _show_info or _show_readmore -%}
            <footer class="article-list__footer">
              {%- if _show_info -%}
                {%- include snippets/article-info.html article=_article -%}
              {%- endif -%}

              {%- if _show_readmore -%}
                <a class="readmore" href="{{ _article_url }}">Read more →</a>
              {%- endif -%}
            </footer>
          {%- endif -%}
        </div>
      </div>
    </div>

  {%- endif -%}

  {%- if _only_first -%}{%- break -%}{%- endif -%}
{%- endfor -%}

</div>
